body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #f0f0f2;
}

#wrapper {
    width: 650px;
    margin: 1.5em auto;
    padding: 20px;
    border-radius: 0.8em;
    background-color: #fff;
}

h1 {
    font-weight: 500;
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

#valid, #invalid {
    display: none;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.smaller {
    font-size: 13px;
}

a {
    color: blue;
    font-size: 15px;
    /*display: block;*/
    padding-bottom: 6.5px;
}

a:visited {
    color: blue;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 630px;
    height: 250px;
    resize: none;
    margin-bottom: 5px;
    padding: 8px 8px;
    border: 2px solid #cccccc;
}

input[type="text"] {
    border: 2px solid #cccccc;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 6px 12px;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: rgb(221, 221, 221)
}

button:focus {
    outline: none;
}

button:hover {
    outline: none;
    background-color: rgb(215, 215, 215)
}


#reset, #convert {
    line-height: 1.92857143 !important;
    font-size: 16px !important;
    width: 120px;
}

button#reset {
    background-color: #e97575;
}

button#reset:hover {
    background-color: #ff8483;
}

button#convert {
    margin-left: 10px;
    background-color: #77e679;
}

button#convert:hover {
    background-color: #89ff8b;
}

#message {
    margin-top: 10px;
    padding-right: 0;
    float: right;
}

#valid-hidden, #taobao-hidden {
    position: absolute;
    left: -9999em;
    font-size: 18px;
}

#filters {
    margin: 15px 0;
}

#http {
    padding: 5px 0px;
}

#taobaoFilter {
    margin-left: 18px;
}

#filter {
    font-family: 'Roboto', sans-serif;
}

#keyword {
    float: right;
}

#url {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 3px 3px;
    width: 639px;
}

#urlText {
    margin-bottom: 10px;
}

.intro {
    margin-bottom: 5px;
    font-weight: 500;
}

#loading {
    margin-top: 8px;
    height: 40px;
}

#readmore, #hide {
    font-size: 17px;
    text-decoration: none;
}

#readmore:hover, #hide:hover {
    text-decoration: underline;
}

.link {
    display: block;
}

@media (max-width: 580px) {
    body {
        background-color: white;
        margin: 0 0;
    }

    #wrapper {
        width: 90%;
        margin: 0 0;
        border-radius: 0;
        padding: 20px;
    }

    textarea {
        width: 90%;
        height: 150px;
    }

    #url {
        width: 92.5%;
    }

    #keyword {
        float: left;
    }

    h1 {
        margin-top: 0;
        font-size: 30px;
    }

    input[type="text"] {
        font-size: 16px !important;
    }

    p {
        font-size: 15px;
    }

    #filters {
        margin-top: 5px;
    }

    #filter {
        padding: 4px 8px;
    }

    #keyword {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #filter-break {
        display: block !important;
    }

    .github-corner {
        display: none;
    }

    hr {
        width: 98%;
    }

    #message {
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }

    button {
        padding: 10px 20px;
        font-size: 18px !important;
        width: 45% !important;
    }

    .smaller {
        margin-top: 0;
    }
}
